:root {
    --color: #{$COLOR};
    --color-blue: rgb(59 130 246);
    --color-red: #{$HOVER_RED};
    --color-gray: #{$COLOR_GRAY};
    --border-radius: #{$BORDER_RADIUS};
    --font-size: 14px;
    --transition: #{$TRANSITION};
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'SF Pro SC', 'SF Pro Text', 'Helvetica Neue', Helvetica,
        'PingFang SC', 'Segoe UI', Roboto, 'Hiragino Sans GB', 'Arial', 'microsoft yahei ui', 'Microsoft YaHei', SimSun,
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.428571429;
    position: relative;
    color: var(--color);
    font-size: var(--font-size);
    background: #fff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
