@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .container {
        position: relative;
        @apply mx-auto;
    }

    @screen md {
        .container {
            max-width: 96%;
        }
    }

    @media (min-width: 1360px) {
        .container {
            max-width: 1300px;
        }
    }

    /* 颜色 */
    .color {
        color: var(--color);
    }

    .bg-color {
        background-color: var(--color);
    }

    /* 圆角 */
    .rounded {
        border-radius: var(--border-radius);
    }

    .rounded-t {
        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
    }

    .rounded-b {
        border-bottom-left-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
    }

    /* 渐变 */
    .duration {
        transition-duration: var(--transition);
    }
}
