$COLOR: #3d4450; // 基础颜色

$COLOR_GRAY: #f5f5f5; // 灰色

$HOVER_BLUE: #3a87ad; // hover blue

$HOVER_RED: #d9534f; // hover red

$BORDER_RADIUS: 5px; // 圆角

$MEDIA_WIDTH: 750px; // 移动端与pc的宽度分水岭

$TRANSITION: 0.3s; // 渐变时间

$CDN_PREFIX: $CDN_PREFIX; // CDN 前缀
