.markdown {
    position: relative;
    color: var(--color);

    // .md-h {
    //     position: relative;
    //     .md-h-link {
    //         display: none;
    //         position: absolute;
    //         width: 30px;
    //         left: -30px;
    //         text-decoration: none;
    //         .fa {
    //             color: #999;
    //             font-weight: bold;
    //             font-size: 26px;
    //         }
    //     }
    //     &:hover .md-h-link {
    //         display: inline-block;
    //     }
    // }
    // img.preview {
    //     display: block;
    //     width: 100%;
    //     max-width: 700px;
    //     margin: 1.4em auto;
    //     box-shadow: 0 0 18px #ddd;
    //     cursor: zoom-in;
    //     &[data-src] {
    //         width: 80px;
    //         box-shadow: none;
    //     }
    // }

    :global {
        h1,
        h2,
        h3,
        h4,
        h5 {
            // margin-top: 36px;
            // font-weight: normal;
            padding-bottom: 0.5em;
            margin-top: 2em;
            margin-bottom: 1.2em;
            border-bottom: 1px solid #eaecef;
        }

        a {
            @apply link;
        }

        p,
        div {
            overflow: hidden;
        }

        // 区块引用
        blockquote {
            padding: 16px;
            border-left: 4px solid #56a1d6;
            background-color: #f8f8f8;
            color: #3a4046;
        }
        // 表格
        table {
            -webkit-overflow-scrolling: touch;
        }
        // 代码块
        pre {
            background: #fdf6e3;
            color: #3d4d52;
            font-size: 14px;
            -webkit-overflow-scrolling: touch;

            // 注释
            .hljs-comment {
                color: #2aa198;
            }
        }
    }
}
