$PC_BAR_Height: 60px;
$topColor: #fff;

// PC
.pcbar {
    // z-index: 999;
    position: relative;
    // transition: $TRANSITION;
    height: $PC_BAR_Height;
    background-color: var(--color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

    :global {
        .container {
            @include flex;
            // padding-left: 15px;
        }

        .brand {
            @include flex;
            text-decoration: none;
            color: #fff;
            font-weight: bold;
            background: rgba(255, 255, 255, 0.45);
            height: $PC_BAR_Height;
            padding: 0 20px;

            img {
                width: 26px;
                height: 26px;
            }
            span {
                margin-left: 10px;
                text-shadow: 1px 1px 3px var(--color);
            }
        }
        .menu-bar {
            margin-left: auto;
        }
    }

    // 浅色主题

    &.light {
        background-color: transparent;
        background: linear-gradient(rgba(0, 0, 0, 0.2), transparent);
        // background: linear-gradient(rgba(255, 255, 255, 0.4), transparent);
        // box-shadow: 0 0 5px rgba(255, 255, 255, 0.6);
        box-shadow: none;
        // margin-bottom: -$topHeight;

        :global {
            .brand {
                font-size: 16px;
            }

            .brand,
            .menu-item-text {
                font-weight: bold;
                color: darken($COLOR, 6%);
                color: #fff;
                text-shadow: 2px 2px 8px lighten($COLOR, 20%);
            }

            .menu-item {
                &:hover {
                    background: rgba(255, 255, 255, 0.45);
                }
            }

            .list-menu {
                border: none;
                background-color: rgba(255, 255, 255, 0.45);
            }
        }
    }
}

.menu-item {
    position: relative;
    display: inline-block;
    height: $PC_BAR_Height;
    line-height: $PC_BAR_Height;
    cursor: pointer;
    color: $topColor;
    text-decoration: none;
    transition: 0.2s;

    :global {
        .menu-item-text {
            text-decoration: none;
            display: inline-block;
            width: 100%;
            padding: 0 30px;
            height: 100%;
            color: $topColor;
            @include flex;

            > span {
                margin-left: 5px;
                font-weight: bold;
            }
            .list-menu {
                display: none;
            }
        }
    }

    &:hover {
        background-color: #262c35;

        ul {
            display: block !important;
        }
    }
}

.list-menu {
    position: absolute;
    display: none;
    border-radius: var(--border-radius);
    border-top-right-radius: 0;
    top: 100%;
    right: 0;
    z-index: 1000;
    min-width: 160px;
    padding: 5px 0;
    margin: 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    // border-radius: $BORDER_RADIUS;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    > li {
        padding: 0;
        margin: 0;

        a {
            display: block;
            color: var(--color);
            text-decoration: none;
            // height: 20px;
            line-height: 20px;
            padding: 10px 20px;
            font-size: 14px;

            &:hover {
                color: #fff;
                background-color: #d9534f;
                margin: 0 -1px;
                padding: 10px 21px;
            }

            i {
                margin-right: 5px;
            }
        }
    }
}

// cover 三角
.triangle {
    position: relative;
    overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        bottom: 0;
        left: 0;
        border-color: transparent #fff;
        border-style: solid;
        border-width: 50px 100vw 0 0;
    }
}
