// fade
.fadeEnter {
    opacity: 0;
}
.fadeEnterActive {
    opacity: 1;
    transition: var(--transition);
}

.fadeExit {
    opacity: 1;
}

.fadeExitActive {
    opacity: 0;
    transition: var(--transition);
}

// slide
.slideEnter {
    opacity: 0;
    transform: translateY(-10%);
}
.slideEnterActive {
    opacity: 1;
    transition: var(--transition);
    transform: translateY(0);
}

.slideExit {
    opacity: 1;
    transform: translateY(0);
}

.slideExitActive {
    opacity: 0;
    transform: translateY(-10%);
    transition: var(--transition);
}
