.sidebar :global {
}

.cardwrap {
    @include flex;

    :global {
        .card {
            @include flex-item;
            @include hover-shadow;
            height: 80px;
            cursor: pointer;
            border-radius: $BORDER_RADIUS;
            // font-size: 0;
            color: #fff;
            @include flex;
            // align-items: center;
            justify-content: center;
        }

        .card-coffee {
            background-color: #f5da97;
            margin-right: 5px;

            &:hover {
                background-color: #f2e4c0;
            }

            .icon {
                font-size: 50px;
            }
        }

        .card-github {
            margin-left: 5px;
            background-color: #2ad;

            &:hover {
                background-color: #5ebde0;
            }

            .icon {
                font-size: 60px;
            }
        }
    }
}
