.cardwrap {
    @include flex;

    :global {
        .card {
            @include flex-item;
            @include hover-shadow;
            height: 80px;
            cursor: pointer;
            border-radius: var(--border-radius);
            // font-size: 0;
            color: #fff;
            @include flex;
            // align-items: center;
            justify-content: center;
        }

        .card-coffee {
            background-color: #f5da97;
            margin-right: 5px;

            &:hover {
                background-color: #f2e4c0;
            }

            .icon {
                font-size: 50px;
            }
        }

        .card-github {
            margin-left: 5px;
            background-color: #2ad;

            &:hover {
                background-color: #5ebde0;
            }

            .icon {
                font-size: 60px;
            }
        }
    }
}

.listcards {
    margin-top: 20px;

    :global {
        .card {
            margin-bottom: 20px;
            background: #fff;
            // box-shadow: 0 1px 6px rgba(0, 0, 0, 0.11);
            // overflow: hidden;
            // background: rgba(#eee, 0.3);
            border-radius: var(--border-radius);
            // overflow: hidden;
            // border-radius: $BORDER_RADIUS;

            &.shadow {
                @include hover-shadow;
            }

            .card-header {
                // background: rgba($COLOR, 0.8);
                // background: #eee;
                background: $COLOR;
                font-size: 15px;
                color: #fff;
                // color: $COLOR;
                padding: 10px 15px;
                border-bottom: 1px solid #ececec;
                font-weight: bold;
                border-top-left-radius: $BORDER_RADIUS;
                border-top-right-radius: $BORDER_RADIUS;
            }

            .label-box {
                border-bottom-left-radius: $BORDER_RADIUS;
                border-bottom-right-radius: $BORDER_RADIUS;
            }

            .card-body {
                padding: 0;
                margin: 0;
                border: 1px solid $COLOR_GRAY;
                border-top: 0;
                border-bottom-left-radius: $BORDER_RADIUS;
                border-bottom-right-radius: $BORDER_RADIUS;

                .card-item {
                    margin: 0;
                    padding: 0;
                    // padding: 15px 10px;
                    box-sizing: border-box;
                    list-style: none;

                    &:not(:last-child) {
                        border-bottom: 1px solid $COLOR_GRAY;
                    }
                    a {
                        color: #337ab7;
                        text-decoration: none;
                        transition: 0.2s;
                        display: block;
                        // padding: 15px 10px;
                        height: 40px;
                        line-height: 40px;
                        // text-indent: 20px;
                        padding: 0 20px;
                        @include text-ellipsis;
                        // width: 100%;
                        // height: 100%;
                        @include hover-shadow;

                        &:hover {
                            // text-shadow: 2px 2px 4px #d9534f;
                            // color: #d9534f;
                            color: $COLOR;
                            background: #efefef;
                            // transform: scale(1.06);
                            // transform-origin: left center;
                            background: rgba(250, 102, 66, 0.1);
                            background: #efefef;
                            // box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2);
                            // box-shadow: 0 20px 80px rgba(148, 92, 78, 0.4), 0 -20px 80px rgba(148, 92, 78, 0.4);
                        }
                    }

                    &:last-child a {
                        border-bottom-left-radius: $BORDER_RADIUS;
                        border-bottom-right-radius: $BORDER_RADIUS;
                    }
                }
            }
        }
    }
}
